<h5>{{ _('Bluetooth') }}</h5>

<ul class="list-group mb-2">
    <li class="list-group-item">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="settings-ethernet-ip-dhcp" autocomplete="off" checked>
            <label class="form-check-label w-100 text-start" for="settings-ethernet-ip-dhcp">{{ _('Enabled') }}</label>
        </div>
    </li>
</ul>

<ul class="list-group mb-2">
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm-5 col-md-6">
                <label for="settings-hostname" class="align-middle">{{ _('Device Name') }}</label>
            </div>
            <div class="col-sm-7 col-md-6">
                <div class="input-group input-group-sm">
                    <input id="settings-hostname" type="text" class="form-control" placeholder="{{ hostname }}" title="{{ hostname }}" value="{{ hostname }}" aria-label="Device Name" aria-describedby="button-addon-save-hostname">
                    <button class="btn btn-outline-success" type="button" id="button-addon-save-hostname" title="Save"><i class="bi bi-check"></i></button>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <label for="settings-general-language" class="align-middle">{{ _('Audio device') }}</label>
        <select class="form-select form-select-listmod" id="settings-general-language">
            <option value="" {% if backend.bluetooth.get_config['AUDIO_DEVICE'] == '' %}selected{% endif %}>default</option>
            {% for device in backend.audio.get_audio_devices() %}
                <option value="{{ device.name }}" {% if device.name == backend.bluetooth.get_config['AUDIO_DEVICE'] %}selected{% endif %}>{{ device.name }}</option>
            {% endfor %}
        </select>
    </li>
</ul>