<ul class="list-group mb-2">
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm-6 col-md-9">
                <label for="settings-network-ip" class="list-group-item-mod ps-3">{{ _('DNS Server') }}</label>
            </div>
            <div class="col-sm-6 col-md-3">
                <input class="form-control form-control-sm" type="text" id="settings-network-ip" autocomplete="off" placeholder="192.168.0.1" disabled>
            </div>
        </div>
    </li>
</ul>

<h6>{{ _('Proxy') }}</h6>

<ul class="list-group mb-2">
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm-6 col-md-8">
                <label for="settings-network-ip" class="list-group-item-mod ps-3">HTTP</label>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="input-group input-group-sm">
                    <input id="settings-network-proxy-http-host" type="text" class="form-control" placeholder="{{ _('Host') }}" title="{{ _('Host') }}" aria-label="{{ _('HTTP Proxy Host') }}">
                    <span class="input-group-text">:</span>
                    <input id="settings-network-proxy-http-port" type="number" min="1" step="1" style="appearance: textfield;" class="form-control" placeholder="{{ _('Port') }}" title="{{ _('Port') }}" aria-label="{{ _('HTTP Proxy Port') }}">
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm-6 col-md-8">
                <label for="settings-network-ip" class="list-group-item-mod ps-3">HTTPS</label>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="input-group input-group-sm">
                    <input id="settings-network-proxy-https-host" type="text" class="form-control" placeholder="{{ _('Host') }}" title="{{ _('Host') }}" aria-label="{{ _('HTTPS Proxy Host') }}">
                    <span class="input-group-text">:</span>
                    <input id="settings-network-proxy-https-port" type="number" min="1" step="1" style="appearance: textfield;" class="form-control" placeholder="{{ _('Port') }}" title="{{ _('Port') }}" aria-label="{{ _('HTTPS Proxy Host') }}">
                </div>
            </div>
        </div>
    </li>
</ul>

<h6>{{ _('CORS') }}</h6>

<span>TODO: Show the list of allowed cors. Maybe here there should be a healthcheck which displays the error if it exists</span>
<span>TODO: Besser füge ein extra space links hinzu Info: Dort sehen wir cors alle adressen über welche es erreichbar ist. Infos zur hardware etc.</span>