<!-- jQuery -->
<script src="{{ url_for('static', filename='common/jquery-3.7.1.min.js') }}"></script>

<!-- bootstrap -->
<link href="{{ url_for('static', filename='common/bootstrap-5.3.3-dist/css/bootstrap.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='common/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js') }}"></script>

<!-- bootstrap icons -->
<link rel="stylesheet" href="{{ url_for('static', filename='common/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css') }}">

<!-- Socket.IO -->
<script src="{{ url_for('static', filename='common/socket.io.min.js') }}"></script>

<!-- brogit -->
<!-- Socket.IO -->
<link rel="stylesheet" href="{{ url_for('static', filename='common/brogit-logo/css/brogit-logo.min.css') }}">

<!-- project specific -->
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/settings/default.css') }}">
<script src="{{ url_for('static', filename='src/js/settings.js') }}"></script>
<script src="{{ url_for('static', filename='src/settings/settings.js') }}"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/default.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/sidebars.css') }}">

<script src="{{ url_for('static', filename='src/js/color-modes.js') }}"></script>
<script src="{{ url_for('static', filename='src/js/tooltips.js') }}"></script>
<script src="{{ url_for('static', filename='src/js/tabs.js') }}"></script>

