<!DOCTYPE html>
<html lang="{{ g.get('lang', 'en') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mediaPi</title>
    <script>
        var deviceHostname = "{{ hostname }}";
        var wifi_connect_endpoint = "{{ url_for('main.connect_to_network') }}";
    </script>

    {% include '_imports.html' %}
    <script src="{{ url_for('static', filename='wifi.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/wifi.css') }}">
</head>
<body>
    {% include 'nested_settings_modal.html' %}

    <main class="d-flex flex-nowrap">
      <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary border-end" style="width: 4.5rem;">
        <a href="/" class="d-block p-3 link-body-emphasis text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
            <div class="d-flex align-items-center justify-content-center">
                <div class="brogit-logo" style="--b-logo-scale: .05px;--b-logo-name-show: 0;"><div></div><div></div></div>
            </div>
            <span class="visually-hidden">Icon-only</span>
        </a>
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
          <li class="nav-item">
            <a id="home-list" data-bs-toggle="list" href="#home" role="tab" aria-controls="home" class="nav-link active py-3 border-bottom rounded-0" aria-current="page" data-bs-toggle2="tooltip" data-bs-placement="right" aria-label="Run" data-bs-original-title="Run">
              <i class="bi bi-house-door-fill"></i>
            </a>
          </li>
          <li class="nav-item">
            <a id="dashboard-list" data-bs-toggle="list" href="#dashboard" role="tab" aria-controls="dashboard" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle2="tooltip" data-bs-placement="right" aria-label="Dashboard" data-bs-original-title="Dashboard">
              <i class="bi bi-2-circle-fill"></i>
            </a>
          </li>
        </ul>
        <div class="dropdown border-top">
          <a href="#" class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-gear-wide-connected"></i>
          </a>
          <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" role="button" data-bs-toggle="modal" data-bs-target="#settingsModal"><i class="bi bi-tools"></i> {{ _('Settings') }}</a></li>
            <li><a class="dropdown-item" href="#info"><i class="bi bi-info-circle"></i> {{ _('Info') }}</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}"><i class="bi bi-box-arrow-right"></i> {{ _('Sign out') }}</a></li>
          </ul>
        </div>
      </div>

        <div class="b-example-divider position-relative h-100">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-list">
                    {% include 'pages/home.html' %}
                </div>
                <div class="tab-pane fade" id="dashboard" role="tabpanel" aria-labelledby="dashboard-list">
                    {% include 'pages/network.html' %}
                </div>
                <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-label">
                    {% include 'pages/info.html' %}
                </div>
            </div>
        </div>
    </main>
</body>
</html>
