<!-- Object Position Modal -->
<div class="modal modal-lg fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalLabel">{{ _('Settings') }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="d-flex align-items-stretch">
                    <div class="nav flex-column nav-pills text-nowrap" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <div class="mx-2 my-3">
                            <button class="nav-link active text-start w-100" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true" title="General">
                                <i class="bi bi-gear"></i><span class="d-none d-md-inline"> {{ _('General') }}</span>
                            </button>
                            <button class="nav-link text-start w-100" id="v-pills-modules-tab" data-bs-toggle="pill" data-bs-target="#v-pills-modules" type="button" role="tab" aria-controls="v-pills-modules" aria-selected="false" title="Modules">
                                <i class="bi bi-window-stack"></i><span class="d-none d-md-inline"> {{ _('Modules') }}</span>
                            </button>

                            {# Dynamische Tabs für Module mit type == "module" #}
                            {% for mod in modules if mod.type == 'module' %}
                            <button class="nav-link text-start w-100" id="v-pills-{{ mod.name }}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{ mod.name }}" type="button" role="tab" aria-controls="v-pills-{{ mod.name }}" aria-selected="false" title="{{ mod.display_name }}">
                                <i class="{{ mod.icon }}"></i><span class="d-none d-md-inline"> {{ _(mod.display_name) }}</span>
                            </button>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="tab-content bg-body-tertiary w-100 border-start p-2 rounded-bottom-1" id="settings-container">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0" data-section="general">
                            {% include 'settings/general.html' %}
                        </div>
                        <div class="tab-pane fade" id="v-pills-modules" role="tabpanel" aria-labelledby="v-pills-modules-tab" tabindex="0" data-section="modules">
                            {% include 'settings/modules.html' %}
                        </div>

                        {# Dynamische Inhalte für Module mit type == "module" #}
                        {% for mod in modules if mod.type == 'module' %}
                        <div class="tab-pane fade" id="v-pills-{{ mod.name }}" role="tabpanel" aria-labelledby="v-pills-{{ mod.name }}-tab" tabindex="0" data-section="{{ mod.name }}">
                            {% include 'settings/' ~ mod.name ~ '.html' %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
