<h6>Nginx</h6>

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="settings-modules-nginx-service-tab" data-bs-toggle="tab" data-bs-target="#settings-modules-nginx-service-tab-pane" type="button" role="tab" aria-controls="settings-modules-nginx-service-tab-pane" aria-selected="false">{{ _('Service') }}</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="settings-modules-nginx-settings-tab" data-bs-toggle="tab" data-bs-target="#settings-modules-nginx-settings-tab-pane" type="button" role="tab" aria-controls="settings-modules-nginx-settings-tab-pane" aria-selected="true">{{ _('Settings') }}</button>
    </li>
</ul>
<div class="tab-content card rounded-top-0 border-top-0 p-2 mb-3">
    <div class="tab-pane fade show active" id="settings-modules-nginx-service-tab-pane" role="tabpanel" aria-labelledby="settings-modules-nginx-service-tab" tabindex="0">
        <ul class="list-group mb-2">
            <li class="list-group-item">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="settings-modules-nginx-enabled" name="enabled" value="install" data-role="form" data-method="post" data-action="{{ url_for('module.nginx.install') }}" autocomplete="off" {% if backend.nginx.get('INSTALLED') == True %}checked{% endif %}>
                    <label class="form-check-label w-100 text-start" for="settings-modules-nginx-enabled">{{ _('Enabled') }}</label>
                </div>
            </li>
        </ul>
    </div>
    <div class="tab-pane fade" id="settings-modules-nginx-settings-tab-pane" role="tabpanel" aria-labelledby="settings-modules-nginx-settings-tab" tabindex="1">
        <ul class="list-group mb-2">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-3">
                        <label>{{ _('Certificate') }}</label>
                    </div>
                    <div class="col-sm-9 text-end">
                        <button class="btn btn-outline-secondary" type="button" title="{{ _('Restore defaults') }}" data-role="form" data-method="post" data-action="{{ url_for('api.update_settings_general_certificate_restore') }}" autocomplete="off"><i class="bi bi-arrow-clockwise"></i></button>
                    </div>
                </div>
                <form method="post" action="{{ url_for('api.update_settings_general_certificate') }}" data-method="generic">
                    <div class="row mt-2">
                        <div class="col-lg-2">
                            <small>{{ _('Certificate Chain') }} (*.pem)</small>
                        </div>
                        <div class="col-lg-10">
                            <div class="form-floating">
                                <textarea class="form-control" name="publickey" data-bs-toggle2="tooltip" data-bs-html="true" title="--- BEGIN CERTIFICATE ---<br> ... <br>--- END CERTIFICATE ---" placeholder="--- BEGIN CERTIFICATE --- ... --- END CERTIFICATE ---" id="settings-general-certificate-publickey" style="height: 100px"></textarea>
                                <label for="settings-general-certificate-publickey">--- BEGIN CERTIFICATE ---</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-2">
                            <small>{{ _('Private Key') }}<br />(*.pem / *.key)</small>
                        </div>
                        <div class="col-lg-10">
                            <div class="form-floating">
                                <textarea class="form-control" name="privatekey" data-bs-toggle2="tooltip" data-bs-html="true" title="--- BEGIN PRIVATE KEY ---<br> ... <br>--- END PRIVATE KEY ---" placeholder="--- BEGIN PRIVATE KEY --- ... --- END PRIVATE KEY ---" id="settings-general-certificate-privatekey" style="height: 100px"></textarea>
                                <label for="settings-general-certificate-privatekey">--- BEGIN PRIVATE KEY ---</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-12">
                            <button class="btn btn-outline-primary" type="submit" id="settings-general-certificate-submit" title="{{ _('Update') }}" data-no-feedback="" data-no-disable="">{{ _('Update') }}</button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>

    </div>
</div>