flask
flask-socketio
Flask-Cors
flask-login
flask-WTF
Flask-Limiter
Flask-Babel
flask_migrate
flask_bcrypt
sounddevice
# gunicorn
gevent
gevent-websocket
pam
six
gitpython
python-crontab
python-dotenv
pyyaml
cryptography